body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 70px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid rgba(255, 0, 0, 0.9);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.triangle-right-hover {
  -webkit-transform: scale(2) rotate(90deg);
          transform: scale(2) rotate(90deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#introSvg {
  width: 100%;
  height: 100px;
}

#portfolio-start {
  width: 100%;
  height: 100px;
}

.introText {
  text-align: center;
}

.navigation {
  position: fixed;
  top: 0;
  z-index: 1040;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation #mainNav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

.navigation #mainNav #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em 1em;
}

.navigation #mainNav #logo #name h4 {
  line-height: 1.6;
}

.navigation #mainNav #sandwich {
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid #a6a6a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navItem {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -100px;
  width: 0;
  height: 0px;
  border: 2px solid rgba(255, 0, 0, 0.9);
  background-color: maroon;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.navigation .navItem-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  margin: 0.1em auto;
  width: 95%;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#list {
  position: absolute;
  top: 200px;
  padding-left: 1em;
}

#list a {
  padding: 20px 0;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-align: left;
  mix-blend-mode: difference;
  font: 900 5vmin/5vh cookie, cursive;
}

#list a strong {
  display: inline-block;
}

#list a span {
  display: inline-block;
}

#introPanel {
  overflow: hidden;
  height: 25em;
  background: url(https://lindenwoodlions.com/images/2011/10/5/Reinis_Rozensteins.jpg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 67% 100%, 15% 0);
  clip-path: polygon(100% 0, 100% 100%, 67% 100%, 15% 0);
  opacity: 0.3;
  filter: alpha(opacity=30);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#portfolio .card {
  margin: 1em 1em;
  text-align: center;
}

#portfolio .card a {
  margin: 0 0.5em;
  background-color: maroon;
  border-color: rgba(255, 0, 0, 0.9);
}

#portfolio .card .card-body {
  background: #a6a6a6;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact #social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contact #social-media-links a {
  color: maroon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact #social-media-links a span {
  display: block;
  text-align: center;
}

#contact #contact-form {
  margin: 0 auto;
  padding: 0em 1em;
}

#contact #contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact #contact-form .form-group {
  position: relative;
  padding-top: 0.5rem;
  margin: 0;
}

#contact #contact-form .form-group input:placeholder-shown + label {
  opacity: 0;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

#contact #contact-form .form-group textarea:placeholder-shown + label {
  opacity: 0;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

#contact #contact-form input,
#contact #contact-form textarea {
  width: 100%;
  font-size: 22px;
  line-height: 22px;
}

#contact #contact-form textarea:valid,
#contact #contact-form input:valid {
  border-color: #33d133;
}

#contact #contact-form textarea:invalid,
#contact #contact-form input:invalid {
  border-color: rgba(255, 0, 0, 0.9);
}

#contact #contact-form textarea:invalid + label + .help-text::before,
#contact #contact-form input:invalid + label + .help-text::before {
  content: "*Required field";
}

#contact #contact-form label {
  position: relative;
  top: -60px;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#contact #contact-form textarea + label {
  position: relative;
  top: -260px;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#contact #contact-form span {
  float: right;
}

form:invalid > #contact-submit {
  pointer-events: none;
}

.small {
  font: italic 13px sans-serif;
}

.heavy {
  font: bold 30px sans-serif;
}

/* Note that the color of the text is set with the    *
 * fill property, the color property is for HTML only */
.Rrrrr {
  font: italic 40px serif;
  fill: rgba(255, 0, 0, 0.9);
}
/*# sourceMappingURL=styles.css.map */